
body {
    background-color: rgb(223, 255, 239);

    font-family: 'Mono serif', serif;
}
    
p {
    color: rgb(8, 100, 54);

}
h1 {
    color: rgb(15, 69, 41)
}
li {
    color: rgb(8, 100, 54);
}
a {
    color: rgb(2, 58, 30);
}